# Files that github should not upload

# To prevent uploading giant data files
**.mat
**.nc

# Dash data file extensions
**.grid
**.ens

# But enable the small data files in testdata
!/testdata/gridfile/**

# Packaged toolbox
DASH.mltbx

# Documentation builds
doc/html/_sources/**
doc_source/sphinx/source/**
doc_source/build/html/**

# For mac users
**.DS_Store

# Matlab autosaves
**.asv







