{% include liquid/active-step.html %}

{% for step in tut.steps %}
  {% assign title = step | split: ", " | first %}
  {% assign address = step | split: ", " | last %}
  {% assign link = "/docs/Tutorials/" | append: tut.name | append:"/" | append: address | relative_url %}

  {% assign active = false %}
  {% if active_step == address %}
    {% assign active = true %}
  {% endif %}

  <li>
    <a href={{link}} class="lesson_step"
      {% if active %} id="active_step" {% endif %}>
      {{title}}
    </a>
  </li>
{% endfor %}

<li>
  {% assign link = "/docs/Tutorials/" | append: tut.name | append:"/" | append: "advanced" | relative_url %}
  <a href={{link}} class="lesson_step"
    {% if active_step=="advanced" %} id="active_step" {% endif %}>
    Advanced
  </a>
</li>
