{% include liquid/active-step.html %}

{% for step in tut.steps %}
  {% assign title = step | split: ", " | first %}
  {% assign address = step | split: ", " | last %}
  {% assign link = "/docs/Tutorials/" | append: tut.name | append:"/" | append: address | relative_url %}

  {% assign active = false %}
  {% if active_step == address %}
    {% assign active = true %}
  {% endif %}

  <li>
    <a href={{link}} class="lesson_step"
      {% if active %} id="active_step" {% endif %}>
      {{title}}
    </a>
  </li>
{% endfor %}

{% assign title = tut.tail | split: ", " | first %}
{% assign tail = tut.tail | split: ", " | last %}
{% assign link = "/docs/Tutorials/" | append: tut.name | append:"/" | append: tail | relative_url %}

<li>
  <a href={{link}} class="lesson_step"
    {% if active_step==tail %} id="active_step" {% endif %}>
    {{title}}
  </a>
</li>
