@import "reset-browser-defaults.css";
@import "rouge-github.css";

/* Dark background */
body {
  box-sizing: border-box;
  background: #212121;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* Header has a black background */
header {
  min-height: 60px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background: #212121;
}

/* Logo link */
#logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#logo a {
  font-size: 26px;
  font-weight: 500;
  color: Silver;
  text-decoration: none;
  padding: 14px 20px;
  /* border-right: 2px solid black; */
}

/* Site navigation links */
#sitenav {
min-height: 40px;

display: flex;
flex-flow: row nowrap;
justify-content: flex-start;
align-items: center;
}
#sitenav li {
  display: flex;
  flex-flow: row nowrap;
}
#sitenav li a {
  padding: 7px 20px;
  margin: 0px 2.5px;
  border-radius: 8px;

  font-size: 21px;
  font-weight: 700;
  color: Silver;

  /*text-transform: uppercase;*/
  text-decoration: none;
}
#sitenav li a:hover {
  background: #313131;
}

#sitenav #activetab {
  background: Silver;
  color: #212121;
}

/* Github navigation links */
#gitnav {
  min-height: 40px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#gitnav li {
  display: flex;
  flex-flow: row nowrap;
}
#gitnav li a {
  padding: 7px 15px;
  margin: 0px 2.5px;
  border-radius: 8px;

  font-size: 21px;
  font-weight: 700;
  color: Silver;

  text-decoration: none;
}
#gitnav li a:hover {
  background: #313131;
}



/* Everything below the top menu links */
#below_top {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background: green;
}



/* Left sidebar */
#leftnav {
  background: #2b3136;
/*  background: #3990c9; */
  display: flex;
  flex-flow: column nowrap;
  width: 225px;

  position: sticky;
  align-self: flex-start;
  top: 0;
}
#leftnav ul {
  display: flex;
  flex-flow: column nowrap;
}
#leftnav li {
  display: flex;
  flex-flow: column nowrap
}


#leftnav a {
  text-decoration: none;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 7px;
}
#left_title {
  background: #2980b9;
  color: #fffff;
  font-size: 18px;
  font-weight: 900;
}
.left_section {
  text-transform: uppercase;
  color: #2980b9;
  font-size: 18px;
  font-weight: 900;
  padding-left: 15px;
}

.left_lesson {
  color: #ffffff;
  font-weight: 300;
  padding-left: 20px;
}
.left_lesson:hover {
  background: #565c61;
}
#active_lesson {
  background: #e6e9eb;
  color: #404040;
}

.lesson_step {
  background: #ccd2d8;
  color: #404040;
  padding-left: 35px;
}
.lesson_step:hover {
  background: #d7dde3;
}
#active_step {
  background: white;
  color: black;
  font-weight: 600;
}







/* Main content */
main {
  background: #f2f2f2;
  height: 100%;
}
p {
  padding: 10px 0 15px 0;
}





/* Footer content */
footer {
  color: #f2f2f2;
  text-align: center;
  line-height: 1.5;
}
footer a {
  color: #f2f2f2;
  text-decoration: underline;
}
