@import "reset-browser-defaults.css";
@import "rouge-github.css";

/* Dark background */
body {
  box-sizing: border-box;
  background: #212121;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* Header has a black background */
header {
  min-height: 60px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background: #212121;
}

/* Logo link */
#logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#logo a {
  font-size: 26px;
  font-weight: 500;
  color: Silver;
  text-decoration: none;
  padding: 14px 20px;
  border-right: 2px solid black;
}

/* Site navigation links */
#sitenav {
min-height: 40px;

display: flex;
flex-flow: row nowrap;
justify-content: flex-start;
align-items: center;
}
#sitenav li {
  display: flex;
  flex-flow: row nowrap;
}
#sitenav li a {
  padding: 7px 20px;
  margin: 0px 2.5px;
  border-radius: 8px;

  font-size: 21px;
  font-weight: 700;
  color: Silver;

  /*text-transform: uppercase;*/
  text-decoration: none;
}
#sitenav li a:hover {
  background: #313131;
}

#sitenav #activetab {
  background: Silver;
  color: #212121;
}

/* Github navigation links */
#gitnav {
  min-height: 40px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#gitnav li {
  display: flex;
  flex-flow: row nowrap;
}
#gitnav li a {
  padding: 7px 15px;
  margin: 0px 2.5px;
  border-radius: 8px;

  font-size: 21px;
  font-weight: 700;
  color: Silver;

  text-decoration: none;
}
#gitnav li a:hover {
  background: #313131;
}





/* Main content */
#main_content {
  background: #f2f2f2;
}
