{% include liquid/active-tab.html %}

{% if tab=="docs" %}

  <nav id="rightnav" {% if page.sections==nil %}class="hidden"{% endif %} >
    <ul>
      <li id="on_this_page">On this page</li>

      {% for section in page.sections %}
        {% assign page_array = section | split: "| " %}
        {% assign title = page_array[0] | strip %}

        {% assign heading = page_array[1] | strip %}
        {% if heading==nil or heading=="" %}
          {% assign heading = title %}
        {% endif %}

        {% assign level = page_array[2] %}
        {% if level==nil or level=="" %}
          {% assign level = 1 %}
        {% endif %}

        {% assign link = heading | remove: "," | remove: ":" | remove: "." | remove: "(" | remove: ")" %}
        {% assign link = link | replace: " ", "-" | downcase | prepend: "#" %}
        {% assign class = "pagenav_level" | append: level %}

        <li class="{{class}}"><a href={{link}}>{{title}}</a></li>
      {% endfor %}
    </ul>
  </nav>

{% endif %}
