{% include liquid/active-tab.html %}
{% include liquid/active-lesson.html %}
{% include liquid/active-step.html %}

{% for tut in site.data.tutorials %}
  {% if lesson == {tut.name}} %}
    {% if active_step==nil %}
      <a href={{tut.steps[0] | split: "," | last}} class="step_button">Start Tutorial &gt</a>

    {% elsif active_step=="advanced" %}
      <a href={{"/docs/tutorials" | relative_url}} class="step_button">&lt All Tutorials</a>

    {% else %}
      {% assign is_step = false %}

      {% for i in (1 .. tut.steps.size) %}
        {% assign k = i | minus: 1 %}
        {% assign address = tut.steps[k] | split: ", " | last %}
        {% if active_step == address %}
          {% assign is_step = true %}
          {% assign previous = k | minus: 1 %}

          {% if i != 1 %}
            <a href={{tut.steps[previous] | split: ", " | last}} class="step_button">&lt Back</a>
          {% endif %}

          {% assign link = "advanced" %}
          {% if i != tut.steps.size %}
            {% assign link = tut.steps[i] | split: ", " | last %}
          {% endif %}
          <a href={{link}} class="step_button">Next &gt</a>

        {% endif %}
      {% endfor %}

      {% if is_step==false %}
        <a href="advanced" class="step_button">&lt Advanced Topics</a>
      {% endif %}
    {% endif %}

  {% endif %}
{% endfor %}
