{% comment %}   Start by getting the current tutorial, and the current page of the tutorial     {% endcomment %}
{% include liquid/active-lesson.html %}
{% include liquid/active-step.html %}


{% comment %}   Cycle through tutorial until finding the active tutorial      {% endcomment %}
{% for tut in site.data.tutorials %}
  {% if lesson == {tut.name}} %}
    {% assign tail = tut.tail | split: ", " | last %}
    {% assign tailtitle = tut.tail | split: ", " | first %}


    {% comment %}  If on the start page, use a button with "Start Tutorial"   {% endcomment %}
    {% if active_step==nil %}
      <a href={{tut.steps[0] | split: ", " | last | prepend: "/" | prepend: lesson | prepend: "/docs/Tutorials/" | relative_url }}
       class="step_button">Start Tutorial &gt</a>


    {% comment %}  If on the tail page, use a button that cycles back to all tutorials    {% endcomment %}
    {% elsif active_step==tail %}
      <a href={{"/docs/tutorials" | relative_url}} class="step_button">&lt All Tutorials</a>


    {% comment %}  Otherwise cycle through the tutorial steps until finding the active step   {% endcomment %}
    {% else %}
      {% assign is_step = false %}

      {% for i in (1 .. tut.steps.size) %}
        {% assign k = i | minus: 1 %}
        {% assign address = tut.steps[k] | split: ", " | last %}
        {% if active_step == address %}
          {% assign is_step = true %}
          {% assign previous = k | minus: 1 %}


          {% comment %}   Include a "previous" button if not the first tutorial step   {% endcomment %}
          {% if i != 1 %}
            <a href={{tut.steps[previous] | split: ", " | last}} class="step_button">&lt Back</a>
          {% endif %}


          {% comment %}   Include a "next" button. Link to the tutorial tail if on the last step    {% endcomment %}
          {% assign link = tail %}
          {% if i != tut.steps.size %}
            {% assign link = tut.steps[i] | split: ", " | last %}
          {% endif %}
          <a href={{link}} class="step_button">Next &gt</a>

        {% endif %}
      {% endfor %}


      {% comment %}     If the page isn't one of the basic steps, link back to the tail    {% endcomment %}
      {% if is_step==false %}
        <a href={{tail}} class="step_button">&lt {{tailtitle}}</a>
      {% endif %}
    {% endif %}

  {% endif %}
{% endfor %}
