<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" href="..\assets\css\simple_style.css">
    <title>DASH: {{page.title}}</title>
  </head>

  <body>
    <header>
    {% include navbar.html %}
    </header>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>DASH maintained by <a href="https://github.com/JonKing93">Jonathan King</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a>, based on the <a href="https://github.com/pages-themes/slate">Slate Theme</a></p>
      </footer>
    </div>

  </body>

</html>
